<!DOCTYPE html>
<html>
    <head>
        <title>Study Time Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Study Time Blog</a></h1>
        </header>
        <article>
            <h2><a href="">5 técnicas para aprender más efectivas</a></h2>
            <p>Saber como aprender de manera efectiva es esencial para alcanzar tus metas académicas.</p>
            <time>published: 1.06.2024, 12:14</time>
        </article>
        <article>
            <h2><a href="">¿Por qué usar Notion?</a></h2>
            <p>Notion es una herramienta que con tan solo saber algunos trucos puede ser de gran ayuda a la hora de organizar nuestro tiempo y proyectos para lograr todo lo que nos propongamos.</p>
            <time>published: 19.05.2024, 12:14</time>
        </article>
    </body>
</html> 

